@import url("./Layout.css");

.Header{
  position:relative;
  height:130px;
  background-color: var(--COLOR-MAIN-THEME-BG);
  display: flex;
}

.Logo{
  width: 20%;
  font-family: Impact;
  font-size: 70px;
  height: 100%;
  text-align: center;

}

.Logo div{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.Logo .span1{
  color: var(--COLOR-MAIN-THEME-LOGO);


}
.Logo .span2{
  color: var(--COLOR-MAIN-THEME-BG2);
}

.Main-menu{
  width: 50%;
}

.Main-menu ul{
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: absolute;
   bottom: 0;

}

.Main-menu li {
    float: left;
}

.Main-menu li a {
    text-size: 35px;
    color: var(--COLOR-WHITE);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
