@import url("./Layout.css");

.History{
  border: 1px solid black;
  width:40%;
  float: left;
  min-width: 500px;
}

.History ul{
  padding: 0;
  margin: 0.5%;
  margin-right: 2%;
  margin-left: 2%;
}

.History  li{
  list-style-type: none;
  background-color: var(--COLOR-LIGHT-GREY);
  margin-bottom: 2px;

}


.HistoryListItem li{

  display: inline-block;
  margin:0px;
  vertical-align: middle;
  height: 100%;
  width: 110px;
  min-width: 70px;

}

.HistoryListItem li div{
  display: block;
  background-color: var(--COLOR-LIGHT-GREY);
  margin:0px;
  margin-bottom:2px;
  text-align: right;


}

.dateAndCost {
    float:right;
}


.HistoryListItem {
  padding: 0px;

}

.History button{
  border-radius: 10px;
  width:15%;
  margin:1% 2%;
}
