@import url("./Layout.css");

.MainView{

  left:20%;
  background-color: var(--COLOR-LIGHT-GREY);
  height: 100%;
  width: 80%;
  float: right;

}

.MainView div{
  background-color: var(--COLOR-WHITE);
  margin: 10px;

}
