@import url("./Layout.css");

.MainView{

  background-color: var(--COLOR-LIGHT-GREY);
  height: 100%;
  width: 80%;
  min-width: 700px;
  float: left;
}

.MainView div{
  background-color: var(--COLOR-WHITE);
  margin: 10px;

}
