@import url("./Layout.css");

.modal {

    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 0px;
    left: 0px;
    top: -130px;
    bottom: 0px;
    right: 0px;
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */


}

.OperationModal{
  float: left;
}

.ReminderModal{
  float:left;
}
/* Modal Content/Box */
.modal-content {
    background-color: var(--COLOR-LIGHT-GREY);
    padding: 20px;
    border: 1px solid black;
    width: 40%; /* Could be more or less, depending on screen size */
    min-width:  700px;
    position: relative;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    display:block;

}
.modal-form{
  width: 50%;
}

.form-element{
  display: flex;
}


.input-div{
  width:30%;
  margin:0px;
}

.form-label{
  width:20%;
  margin: 10px;
}

.modal-footer{
  overflow: hidden;
}

.button-div{
  float:right;
}

.close{
    background-color: var(--COLOR-LIGTH-WHITE);
    font-size: 20px;
    border-radius: 14px;
    color: var(--COLOR-MAIN-THEME-BG);
    border: 2px solid var(--COLOR-MAIN-THEME-BG);
    margin-left:10px;
    width : 100px;
    height: 40px;
}

.save-btn{
  background-color: var(--COLOR-MAIN-THEME-BG2);
  font-size: 20px;
  border-radius: 14px;
  color: var(--COLOR-LIGHT-GREY);
  border: 2px solid var(--COLOR-MAIN-THEME-BG2);
  margin-left:10px;
  width : 100px;
  height: 40px;
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
