@import url("./Layout.css");

.QuickAdd{
  border: 1px solid black;

  width: 50%;
  min-width: 300px;
  background-color: var(--COLOR-WHITE);

}

.Title{
  margin: 0px;
  margin-top: 8px;
  margin-left: 2%;
}

div.QuickAdd > h3{
  font-size: 20px;
  font-weight: bold;
}

div.QuickOptions{

  background: var(--COLOR-LIGHT-GREY);
  border: 1px solid black;
  width: 110px;
  margin-left: 2%;

  float:left;
}

div.QuickOptions > img{

float: right;
width: 30px;
height: 30px;
margin-top:4px;
margin-right: -15px;
}

div.QuickOptions > p{
  font-weight: bold;
  float:left;
  margin: 10px 10px;

}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
