@import url("./Layout.css");

.SideBar{
  /* position: fixed; */
  background-color: var(--COLOR-MAIN-THEME-BG2);

  width: 20%;
  min-width: 300px;
  color: var(--COLOR-WHITE);
  overflow: hidden;
  float: left;
}

p.Garage{
  font-weight: bold;
  font-size: 35px;
  display: block;
  margin-top: 10%;
  margin-left: 8%;
  float: left;
}

.addNew{
  font-size: 18px;
  margin-top: 10%;
  margin-right: 8%;
  border-radius: 15px;
  color: var(--COLOR-MAIN-THEME-BG2);
  padding: 4px;
  float: right;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
