@import url("./Layout.css");

.Upcoming{
width: 40%;
float: left;
border: 1px solid black;
min-width: 500px;
}


.Upcoming ul{
  padding: 0;
  margin: 0.5%;
  margin-right: 2%;
  margin-left: 2%;
}

.Upcoming  li{
  list-style-type: none;
  background-color: var(--COLOR-LIGHT-GREY);
  margin-bottom: 2px;

}


.UpcomingListItem li{

  display: inline-block;
  margin:0px;
  vertical-align: middle;
  height: 100%;
  width: 110px;
  min-width: 70px;

}


.UpcomingListItem {
  padding: 0px;
}

.Upcoming button{
  border-radius: 10px;
  width:15%;
  margin:1% 2%;
}
